*{
    border: 1px dotted tomato;
    padding: 2px;
}
body{
    margin: 0 auto;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px 20px;
    border: 1px solid black;
    color: #000;
}
header{
    background-color: #2878ab;
    padding-left: 5px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vw;;
}
header img{
    width: 20vw;
    height: auto;
}

header hgroup{
    font-size: 1.5vw;
}