*{
    border: 1px dotted tomato;
    padding: 2px;
}
body{
    margin: 0 auto;
    max-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px 20px;
    border: 1px solid black;
    color: #000;
}
nav{
    background-color: #2878ab;
}
hr{
    margin: 1vw;
    height: 0.1vw;
    background-color: #fff;
}
nav ul{
    display: flex;
    vertical-align: top;
    margin: 1.5vw;
    color: #fff;
    justify-content: space-evenly;
    list-style: none;
    flex-flow: row wrap;
}
nav a{
    color: #fff;
}
nav il{
    display: flex;
    vertical-align: top;
    color: #fff;
}